node_modules
.DS_Store
dist
dist-fixture
example-export
dist-scholarly
fixtures/dist-scholarly
dist-ucas
fixtures/dist-ucas
dist-ict
fixtures/dist-ict
*.local
.vite-inspect
.remote-assets
.idea/
components.d.ts
references/
